---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';
const allPosts = await Astro.glob('./*.md');

const pageTitle = "Todos los Markdown Posts ";



---
<BaseLayout pageTitle={pageTitle}>
  <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </div>
</BaseLayout>