---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Bienvenido a mi pagina creada con ASTRO</h2>
  <p>Asegurate de fijarte en cada link de la navegacion a ver los posts</p>
</BaseLayout>
