---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
  }

  a:hover {
    background-color: #5f2aa0;
    transform: scale(1.05);
  }
</style>